.ItemBoxPortion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.productCard {
  width: 270px;
  height: 250px;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  justify-items: center;
  .topIcon {
    display: flex;
    justify-content: space-between;
    gap: 126px;
    padding: 12px 16px;
  }
}

.discountBadge {
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 0.25rem 0.75rem;
  background-color: #db4444;
  border-radius: 0.25rem;

  color: var(--Text, #fafafa);

  /* Title/12PX Regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.iconsWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.iconContainer {
  width: 34px;
  height: 34px;
  position: relative;
}

.iconsWrapper {
  .iconContainer img {
    width: 100%;
    height: 100%;
  }
}

.iconOverlay {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}

.center-icon {
  top: 15%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
}

.productImage {
  margin: 24px;
  /* set height of container */

  img {
    height: 90px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.productTitle {
  color: #000;

  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.priceWrapper {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
}

.priceCurrent {
  color: var(--Secondary-2, #db4444);
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.priceOriginal {
  font-weight: 500;
  color: #000000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  text-decoration: line-through;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ratingCount {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
}

.productCardWrapper {
  position: relative;

  &:hover .addToCartWrapper {
    opacity: 1;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
}

.addToCartWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;

  &:hover {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.1s ease, transform 0.3s ease;
  }
}

.addToCartButton {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  margin-bottom: 105px;
  cursor: pointer;
}
