.SalePortion {
  background-color: black;
  color: white;
  font-family: Poppins;
  text-align: center;

  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
